<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Login</title>
  </head>
  <body>
    <% if (message) {%>
    <div class="message">
      <%= message %>
    </div>
    <% }; %>
    <form
      action="/recipes/'<%=`${id}`%>'/delete"
      method="POST"
    >
      <label for="passConfirm">
        Confirme sua senha:
        <input
          type="password"
          name="pass"
          id="passConfirm"
          data-testid="senha"
        >
      </label>
      <button
        type="submit"
        data-testid="confirmar"
      >
        Confirmar
      </button>
      <button
        type="button"
        data-testid="cancelar"
        onclick="window.location.pathname='/'"
      >
        Cancelar
      </button>
    </form>
  </body>
</html>
