<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cookmaster - Admin</title>
</head>

<body>
  <div>
    <div style="display: flex; justify-content: space-between; align-items: center; background-color: grey;">
      <h1>Cookmaster</h1>
      <%if (user) {%>
      <form action="/logout" method="POST">
        <button data-testid="logout" type="submit">Logout</button>
      </form>
      <%}%>
      <%if (!user) {%>
      <form action="/login" method="POST">
        <button data-testid="login"type="submit">Login</button>
      </form>
      <%}%>
    </div>
    <div style="width: 80%; margin: auto; display: flex; flex-direction: column;">
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <h2>Receitas</h2>
        <form action="/recipes/search" method="GET">
        <button type="submit" style="background-color: aqua;" data-testid="buscar-receita">Buscar Receita</button>
        </form>
      </div>
      <div style="display: flex; flex-wrap: wrap">
        <%recipes.forEach((recipe) => { %>
      <div class="flex-recipes" style="display: flex; flex-direction: column; width: 25%; justify-content: center; align-items: center; background-color: grey; margin: 20px;">
        <p style="color: red"><%= recipe.name %></p>
        <p><%= recipe.user %></p>
        <a href=<%= `/recipe/${recipe.id}` %>>Ver mais</a>
      </div>
      <% }) %>
      <div>
        <%if (user) {%>
          <form action="/recipes/new" method="GET">
            <button data-testid="nova-receita" type="submit">Nova Receita</button>
          </form>
          <%}%>
          <form action="/me/recipes" method="GET">
            <button data-testid="minhas-receitas" type="submit">Minhas Receitas</button>
          </form>
      </div>
    </div>
  </div>
</body>

</html>
