<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - newRecipe</title>
  </head>
  <body>
    <H1>Nova Receita</H1>
    <form action="/recipes" method="POST">
      <label for="recipeNameInput">Nome da Receita: </label>
      <input type="text" name="name" value="<%=`${name}`||''%>" id="recipeNameInput" data-testid="nome-receita" /><br />
      <label for="ingredientInput" >Ingredientes: </label>
      <% lala.map((el, index)=>{ %>
        <p name="ingredientValue"  value="<%=`${el}`%>"><%= el %></p>
        <button name="remove" value="<%=`${index}`%>" type="submit">Excluir Ingrediente</button>
      <%})%>
      <input type="text" name="ingredient" id="ingredientInput" data-testid="ingredientes" /><br />
      <button type="submit" data-testid="adicionar-ingrediente">Adicionar Ingrediente</button><br />
      <label for="instructionsInput" >Modo de Preparo: </label>
      <textarea
        type="text"
        cols="40"
        rows="5"
        name="instructions"
        id="instructionsInput"
        data-testid="modo-de-preparo"
      ></textarea><br />
      <a href="/admin">Voltar</a>
      <button type="submit" name="save" data-testid="postar-receita">Salvar Receita</button>
    </form>
  </body>
</html>
