<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Cadastro</title>
  </head>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
  
    body {
      background-color: whitesmoke;
      font-family: 'Roboto Slab', serif;
      margin: 0;
    }
    .form-div {
      background-color: rgb(255, 180, 162);
      display: flex;
      flex-direction: column;
      height: 350px;
      margin: 15% 40% 0 40%;
      padding: 20px;
      width: 300px;
    }
    a {
      margin-left: 49%;
    }
  </style>
  <body>
    <% if (message) {%>
    <div class="message">
      <%= message %>
    </div>
    <% } %>
    <form action="/register" method="POST" class='form-div'>
      <label for="emailInput">Email: </label>
      <input type="text" name="email" id="emailInput" data-testid='email' /><br />
      <label for="passwordInput">Senha: </label>
      <input type="password" name="password" id="passwordInput" data-testid='senha' /><br />
      <label for="passwordVInput">Confirmar Senha: </label>
      <input type="password" name="passwordV" id="passwordVInput" data-testid='confirmar-senha' /><br />
      <label for="nameInput">Nome: </label>
      <input type="text" name="name" id="nameInput" data-testid='nome' /><br />
      <label for="lastNameInput">Sobrenome: </label>
      <input type="text" name="lastName" id="lastNameInput" data-testid='sobrenome' /><br />
      <% if (redirect) { %>
      <input
        type="hidden"
        name="redirect"
        value="<%= decodeURIComponent(redirect) %>"
      />
      <% } %>
      <button type="submit" data-testid='cadastrar'>Cadastrar</button>
    </form>
    <a data-testid='login' href='/login'>Fazer Login</a>
  </body>
</html>
