<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro</title>
</head>

<body>
  <div>
    <h2>Cadastro</h2>
    <% if (error || message) { %>
    <div class="message">
      <p><%= error || message %></p>
    </div>
    <% } %>
    <form action="/register" method="POST">
      <label for="email">Email</label>
      <input data-testid="email" type="text" id="email" name="email">
      <br>
      <label for="typePass">Senha</label>
      <input data-testid="senha" type="password" id="typePass" name="typePass">
      <br>
      <label for="confirmPass">Confirmar Senha</label>
      <input data-testid="confirmar-senha" type="password" id="confirmPass" name="confirmPass">
      <br>
      <label for="name">Nome</label>
      <input data-testid="nome" type="text" id="name" name="name">
      <br>
      <label for="lastName">Sobrenome</label>
      <input data-testid="sobrenome" type="text" id="lastName" name="lastName">

    </form>
    <button data-testid="cadastrar" type="submit" onclick="window.location.pathname = '/login'">
      Cadastre-se
    </button>
  </div>
</body>

</html>
