<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Signup</title>
  </head>
  <body>
    <% if (message) {%>
    <div class="message">
      <%= message %>
    </div>
    <% } %>
    <form action="/signup" method="POST">
      <label for="emailInput">Email: </label>
      <input type="text" name="email" id="emailInput" data-testid="email" /><br />
      <label for="passwordInput" >Senha: </label>
      <input type="password" name="password" id="passwordInput" data-testid="senha" /><br />
      <label for="confirmPasswordInput" >Confirmer Senha: </label>
      <input type="password" name="confirmPassword" id="confirmPasswordInput" data-testid="confirmar-senha" /><br />
      <label for="nameInput" >Nome: </label>
      <input type="text" name="name" id="nameInput" data-testid="nome" /><br />
      <label for="lastNameInput" >Sobrenome: </label>
      <input type="text" name="lastName" id="lastNameInput" data-testid="sobrenome" /><br />
      <% if (redirect) { %>
      <input
        type="hidden"
        name="redirect"
        value="<%= decodeURIComponent(redirect) %>"
      />
      <% } %>
      <a href="/login" data-testid="login">Login</a>
      <button type="submit" data-testid="cadastrar">Cadastre-se</button>
    </form>
  </body>
</html>
