<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookmaster - Signup</title>
  </head>

  <body>
    <% if (message) {%>
    <div class="message">
      <%= message %>
    </div>
    <% } %>
    <form action="/signup" method="POST">
      <label for="emailInput">Email: </label>
      <input type="text" name="email" id="emailInput" data-testid="email">
      <label for="passwordInput">Senha: </label>
      <input type="password" name="password" id="passwordInput" data-testid="senha">
      <label for="confirmPassword">Confirmar Senha: </label>
      <input type="password" name="confirmPassword" id="confirmPassword" data-testid="confirmar-senha">
      <label for="userName">Nome: </label>
      <input type="text" name="name" id="userName" data-testid="nome">
      <label for="userLastName">Sobrenome: </label>
      <input type="text" name="lastName" id="userLastName" data-testid="sobrenome">
      <button type="submit" data-testid="cadastrar">Cadastrar-se</button>
      <a href="/login" data-testid="login">Fazer login</a>
    </form>
  </body>

</html>
