<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Cadastro</title>
  </head>
  <body>
    <form action="post">
      <label for="emailInput">Email: </label>
      <input data-testid="email" type="email" name="email" id="emailInput" /><br />
      <label for="passInput">Senha: </label>
      <input data-testid="senha" type="text" name="email" id="passInput" /><br />
      <label for="passConf">Confirme Senha: </label>
      <input data-testid="confirmar-senha" type="text" name="email" id="passConf" /><br />
      <label for="nameInput">Name: </label>
      <input data-testid="nome" type="text" name="email" id="nameInput" /><br />
      <label for="nickname">Sobrenome: </label>
      <input data-testid="sobrenome" type="text" name="email" id="nickname" /><br />
      <a href="/login">Fazer Login</a>
      <button type="submit">cadastrar-se</button>
    </form>
  </body>
</html>
