<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cookmaster - Admin</title>
</head>

<body>
  <div>
    <h1>Editar Usuário</h1>
    <form action="/me" method="POST">
      <input value=<%=user[1]%> />
      <input value=<%=user[2]%> />
      <input value=<%=user[3]%> />
      <input value=<%=user[4]%> />
      <button>Cancelar</button>
      <button type="submit">Confirmar</button>
    </form>
  </div>
</body>

</html>
