<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Minhas Receitas</title>
</head>
<body>
  <h1>Minhas Receitas</h1>
    <% recipes && recipes.forEach(recipe => { %>
    <div>
      <p><%= recipe.name %></p>
      <p><%= recipe.user %></p>
      <a href=<%= `/recipes/${recipe.id}` %> >Ver mais</a>
    </div>
    <% }) %>
</body>
</html>
