<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User cadaster</title>
</head>
<body>
  <% if (message) { %>
    <h4><%= message %></h4>
  <% } %>
  <form action="/login/cadaster" method="POST">
    <label for="">email: </label>
    <input type="text" name="email">
    <label for="">senha: </label>
    <input type="password" name="password">
    <label for="">comfirmar senha: </label>
    <input type="password" name="confirmPassword">
    <label for="">Nome: </label>
    <input type="text" name="firstName">
    <label for="">Sobrenome: </label>
    <input type="text" name="lastName">
    <button type="submit" data-testid="cadastrar">Cadatrar-se</button>
  </form>
</body>
</html>
