<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirmar exclusão</title>
  </head>
  <body>
    <p>Confirme a exclusão da receita</p>
    <form action="/recipes/<%= recipeID %>/delete" method="POST">
      <label for="typedPassword">Senha</label>
      <input data-testid="senha"
        name="typedPassword"
        type="password"
        required
      />
      <section>
        <button
          type="button"
          data-testid="cancelar"
          onclick="window.location.pathname='/recipes/<%= recipeID %>'">
          Cancelar
        </button>
        <button type="submit" data-testid="confirmar">Confirmar</button>
        <% if (message) {%>
          <div class="message"><%= message %></div>
        <% } %>
      </section>
    </form>
  </body>
</html>
