<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <%- include('navbar', {user}); %>
    <h1>Criar Receitas</h1>
    <div>
      <% if (message) {%>
        <div class="message"><%= message %></div>
        <% } %>
      <div>
        <p>brasil acima de tudo</p>
        <form action="/recipes/new" method="POST">
          <p name="<% user.name %> "><% user.name %> </p>
          <label for="nameRecipe">Nome da Receita</label>
          <input required id="nameRecipe" data-testid="nome-receita" type="text" name="nameRecipe"/>
          <label for="ingredients">Ingredientes</label>
          <ul id="listIngredients"></ul>
          <input required id="ingredients" data-testid="ingredientes" type="text" name="ingredients" />
          <button id="insertDom" type="submit" data-testid="adicionar-ingrediente" onclick="createViewIngredients()">Adicionar Ingrediente</button>
          
          <label for="instructions">Modo de Preparo</label>
          <input required id="instructions" data-testid="modo-de-preparo" name="instructions" />
          
          <button data-testid="postar-receita" type="submit">Salva Receita</button>
        </form>
        <script>
          let ingredients = [];
      
          function createViewIngredients() {
            let li = document.createElement('li');
            const ul = document.getElementById('listIngredients');
            let inputIngredients = document.getElementById('ingredients');

            li = inputIngredients.value
            li.innerHTML = `${inputIngredients.value}  
            <button
              type="button"
              
            >Excluir Ingredientes
            </button>`;
            ul.appendChild(li);
            ingredients.push(inputIngredients.value);
          }

          function deleteIngredients() {
            document.getElementById('ingredients').remove();
            return ingredients = [];
          }
        </script>
    </div>
  </body>
</html>
