<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <header>Cookmaster
    <nav>
    </nav>
  </header>
  <body>
    <div>
      <h1>Edite uma Receita</h1>
    </div>
  </body>
</html>
