<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Deletar Receita</title>
  </head>
  <body>
      <form method="POST">

        <% if(message) {%>
          <p><%=message%></p>
        <%}%>

        <%= console.log('id', id); %>
        <%= console.log('password', password); %>
        <%= console.log('idUser', idUser); %>

        <h3>Confirme a exclusão da receita</h3>
        <label for="pass">Senha: </label>
        <input type="password" name="password" id="password" data-testid="senha"/></br>
        <button type="reset"data-testid="cancelar" >Cancelar</button>
        <button type="submit" data-testid="confirmar" >Confirmar</button>
      </form>
  </body>
</html>
