<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Details</title>
  </head>
  <body>
    <% if (userControl) { %>
      <a href="/recipes/<%=recipeDetails.id%>/edit">
        <button data-testid="editar-receita">Editar Receita</button>
      </a>

      <a href="/recipes/<%=recipeDetails.id%>/delete">
        <button data-testid="excluir-receita">Excluir Receita</button>
      </a>
    <% } %>
    <section>
      <% recipeDetails.ingredients.forEach(ingred => { %>
        <ul>
          <li><%=ingred%></li>
        </ul>
      <% }) %>
    </section>
    <section>
      <h2>Modo de Preparo</h2>
      <p><%=recipeDetails.instructions%></p>
    </section>
  </body>
</html>
