<!DOCTYPE html>
<html>
  <head>
    <link href="./layout/style.css" rel="stylesheet" type="text/css">
    <h1>Cookmaster</h1>
  </head>
  <body>
    <h2>Receitas</h2>
    <a href="link">Ver mais</a>
    <!-- somente logado: nova receita! -->
    <button data-testid="nova-receita">Nova Receita</button>
    <!-- indiferente -->
    <button data-testid="buscar-receita">Buscar Receita</button>
    <!-- não logado -->
    <button data-testid="login">Login</button>
    <!-- apenas logado-->
    <button data-testid="logout">Logout</button>
  </body>
</html>
