<html>
  <header>
    <h1>Cookmaster</h1>

    <% if (user) { %>
    <div class="logado">
      <h5><%= user.name %></h5>
      <h3><a href="/logout" data-testid="logout">Logout</a></h3>
    </div>
    <% } else { %>
    <a href="/login"><h3 data-testid="login">Login</h3></a>
    <% } %>
  </header>
</html>
