<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <div>
      <p>Cookmaster</p>
      <% if(user) { %>
      <div>
        <p><strong><%= `${user.name} ${user.lastName}` %></strong></p>
        <button data-testid="logout" onclick="window.location.pathname='/logout'">Logout</button>
      </div>
      <% } else { %>
      <button data-testid="login" onclick="window.location.pathname='/login'">Login</button>
      <% } %>
    </div>
  </body>
</html>
<!-- Auxílio do Hebert para a solução do requisito um! -->
