<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <title>Cookmaster - Home</title>
    <style>
      body {
        font-family: 'Montserrat', sans-serif;
        margin: 0;
        padding: 0;
      }

      .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
      }

      .recipe {
        border-radius: 6px;
        margin: 5px;
        padding: 1%;
        min-width: 300px;
      }

      header {
        display: flex;
        font-size: larger;
        font-weight: 700;
        justify-content: space-between;
        margin: 0;
        padding: 10px;
      }

      h2 {
        margin: 1%;
      }

      section {
        margin-top: 10px;
      }

      .shadow {
        box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
      }

      .pointer {
        cursor: pointer;
      }

      .recipe a {
        background-color: #f2f2f2;
        border-radius: 4px;
        color: orange;
        cursor: pointer;
        display: flex;
        font-weight: 700;
        padding: 5px;
      }

      .recipe a:hover {
        background-color: #1e2040;
        color:  #f2f2f2;
        transition: background-color 1s;
      }

      .default-color {
        background-color: #f26d6d;
        color: #f2ddb6;
      }

      button {
        background-color: #2A828C;
        border: none;
        border-radius: 5px;
        color: #f2f2f2;
        cursor: pointer;
        font-weight: 700;
        margin: 5px;
        padding: 8px;
      }

      button:hover {
        background-color: black;
      }

      a {
        text-decoration: none;
      }

      .title {
        font-size: 2rem;
      }

      .header-link {
        color: #f2ddb6;
        border: 1px solid #f2ddb6;
        border-radius: 5px;
        padding: 2px 4px;
      }

    </style>
  </head>
  <body>
    <header class="shadow default-color">
      <span>Cookmaster</span>
      <% if (!user) { %>
        <a href="/login"><span class="pointer header-link" data-testid="login">Login</span></a>
      <% } else { %>
        <div>
          <span> <%= `${user.name} ${user.lastName}` %>|</span>
          <span class="pointer" data-testid="logout">Logout</span>
        </div>

      <% } %>
    </header>
    <section>
      <div class="container">
        <span class="title">Receitas</span>
        <div>
          <button data-testid="buscar-receita">Buscar Receitas</button>
          <% if (user) { %>
            <button data-testid="minhas-receitas">Minhas Receitas</button>
            <button data-testid="nova-receita">Nova Receita</button>
            <button data-testid="minha-conta">Minha Conta</button>
          <% } %>
        </div>
      </div>
      <div class="container">
        <% recipes.forEach(({ name, user, id }) => { %>
          <div class="recipe shadow default-color">
            <div>
              <h2><%= name %></h2>
              <h4><%= user %></h4>
            </div>
            <a href=<%=`recipes/${id}`%>>Ver mais</a>
          </div>
        <% }) %>
      </div>
    </section>
  </body>
</html>
