<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <div>
      <h1>Cookmaster</h1>
      <% if(!user) { %>
      <a href="/login" data-testid="login">
        <button>Login</button>
      </a>
      <% } %>
      <% if(user) { %>
      <button data-testid="minhas-receitas" onclick="window.location.pathname='/me/recipes'">Minhas Receitas</button>
      <button data-testid="minha-conta" onclick="window.location.pathname='/me/edit'">Minha Conta</button>
      <button data-testid="logout" type="button" onclick="window.location.pathname = '/logout'">
        Logout
      </button>
      <% } %>
    </div>
    <h2>Receitas</h2>
    <% recipes.forEach(recipe => { %>
    <div>
      <p><%= recipe.name %></p>
      <p><%= recipe.user %></p>
      <a href=<%= `/recipes/${recipe.id}` %> >Ver mais</a>
    </div>
    <% }) %>
    <button data-testid="buscar-receita" onclick="window.location.pathname='/recipes/search'">Buscar Receita</button>
    <% if (user) { %>
      <button
        data-testid="nova-receita"
        onclick="window
                .location
                .pathname='/recipes/new'">
                Nova Receita
                </button>
    <% } %>
  </body>
</html>
