<!DOCTYPE html>
<html>
  <head>
    <link href="./layout/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <%- include('navbar', {user: user}); %>
    <h1>Receitas</h1>
    
    <% if (user) { %>
      <button data-testid="nova-receita">Nova Receita</button>
    <% } %>
    <a href="link">Ver mais</a>
    <button data-testid="buscar-receita">Buscar Receita</button>
  </body>
</html>
