<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster</title>
  </head>
  <body>
    <h1>Receitas</h1>
    <button id="nova-receita">Nova Receita</button>
    <button id="buscar-receita">Buscar Receita</button>
    <button id="login">Login</button>
    <div id="recipe-card">
      <h2>Nome da Receita</h2>
      <h3>Nome Usuario</h3>
      <a href="Link">Ver mais</a>
    </div>
  </body>
</html>
