<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster</title>
  </head>
  <body>
    <button id="buscar-receita">Buscar Receita</button>
    <h1>Receitas</h1>
    <div id="recipe-card">
      <%console.log(listData)%>
      <% listData && listData.forEach(recipe => { %>
        <div>
          <p><%= recipe.name %></p>
          <p><%= recipe.user %></p>
          <a href="#">Ver mais</a>
          <%})%>
        </div>
        <button data-testid="nova-receita">Nova Receita</button>
      </div>
  </body>
</html>
