<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <header>
      <h1>Cookmaster</h1>
      <% if (login) { %>
        <button data-testid="logout">logout</button>
        <a href="/me/recipes">
          <button data-testid="minhas-receitas">Minhas Receitas</button>
        </a>
      <% } else { %>
        <a data-testid="login" href="/login">
          <button>Login</button>
        </a>
      <% } %>
    </header>
    <div>
      <h2>Receitas</h2>
      <a href="/recipes/search"><button data-testid="buscar-receita">Buscar Receita</button></a>
      <% if (login) { %>
        <a href="/recipes/new"><button data-testid="nova-receita">Nova Receita</button></a>
      <% } %>
    </div>
    <div>
      <%- include('recipesCard') %>
    </div>
  </body>
</html>
