<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <header>
      <h4>Cookmaster</h4>
      <% if (user) { %>
        <a href="/logout"><button data-testid="logout">Logout</button></a>
        <a href="/me/recipes">
          <button data-testid="minhas-receitas">Minhas Receitas</button>
        </a>
      <% } else {%>
        <a href="/login"><button data-testid="login">Login</button></a>
      <% } %>
    </header>
    <h1>Receitas</h1>
    <% if (user) { %>
      <a href="/recipes/new"><button data-testid="nova-receita">Nova Receita</button></a>
    <% } %>
    <a href="/recipes/search"><button data-testid="buscar-receita">Buscar Receita</button></a>
    <section>
      <% if (recipes) { %>
        <% recipes.forEach(recipe => { %>
          <div>
            <h4><%=recipe.name%></h4>
            <span><%=recipe.user%></span>
            <a href="recipes/<%=recipe.id%>">Ver mais</a>
          </div>
        <% }) %>
      <% } %>
    </section>
  </body>
</html>
