<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster</title>
  </head>
  <body>
    <div class="container">
      <%- include('header', {user}); %>
      <div class="mid">
        <div class="cima">
          <h2>Receitas</h2>
          <% if (user) { %>
          <button data-testid="nova-receita">Nova Receita</button>
          <% } %>
          <button data-testid="buscar-receita">Buscar Receitas</button>
        </div>

        <% if(recipes) { %>
          <div class="card">
           <% recipes.map( x => {%>
          <h3><%= x.name %></h3>
          <p><%= x.user %></p>
          <a href="/recipes/<%= x.id %>">Ver mais</a>
          <% }) %>
        </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
