<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <%- include('navbar', {user: user, area: "Home"}); %>
    <div>
      <% if (user) {%>
      <button data-testid="nova-receita">Nova Receita</button>
      <%}%>
      <button data-testid="buscar-receita">Buscar Receita</button>
    </div>
    <% if (recipes) {%>
    <div>
      <h2>Receitas</h2>
      <% recipes.map(recipe => { %>
      <div>
        <p>Receita: <%= recipe.name %></p>
        <p>Autor: <%= recipe.user %></p>
        <a href="Link">Ver mais</a>
      </div>
      <%})%>
    </div>
    <% } %>
  </body>
</html>
