<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <header>
      <h1>Cookmaster</h1>
      <% if (login) { %>
        <button data-testid="logout">logout</button>
      <% } else { %>
        <a data-testid="login" href="/login">
          <button>Login</button>
        </a>
      <% } %>
    </header>
    <div>
      <h2>Receitas</h2>
      <button data-testid="buscar-receita">Buscar Receita</button>
      <% if (login) { %> <button data-testid="nova-receita">Nova Receita</button> <% } %>
    </div>
    <div>
      <% recipes.forEach(({ username, recipeName }) => { %>
        <div>
          <p> <%= recipeName %> </p>
          <p> <%= username %> </p>
          <a href="/recipes/<%= id %>">Ver mais</a>
        </div>
      <% }); %>
    </div>
  </body>
</html>
