<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <% if (recipes) {%>
      <% recipes.forEach(recipe => { %>
        <div>
          <h3><%= recipe.name %></h3>
          <p><%= recipe.user %></p>
          <a>Ver mais</a>
        </div>
      <%})%>
    <% } %>
  </body>
</html>
