<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>

  <body>
    <%- include('header', {user})%>
    <% if(user) { %>
    <button type="button" data-testid="nova-receita">Nova receita</button>
    <% } %>
    <button type="button" data-testid="buscar-receita">Buscar receita</button>
    <h1>Receitas</h1>
    <% recipes && recipes.forEach(recipe => { %>
    <p>Receita: <%= recipe.name %> </p>
    <p>Usuário: <%= recipe.user %> </p>
    <a href=<% `recipes/${recipe.id}` %>>Ver mais</a>
    </div>
    <% }) %>
    <div>
  </body>

</html>
