<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <header>Cookmaster
    <%// const user = 'Marco'%>
    <nav>
      <%if (!user) {%>
        <a href="/login" data-testid="login">Login</a>
      <%}%>
      <%if (user) {%>
        <a href="/logout" data-testid="logout">Logout</a>
      <%}%>
    </nav>
  </header>
  <body>
    <div>
      <h1>Receitas<h1>
      <%if (user) {%>
        <button data-testid="nova-receita">Nova Receita</button>
      <%}%>
      <button data-testid="buscar-receita">Buscar Receita</button>
    </div>
    <% if (listResume) {%>
      <div>
        <% listResume.map(recipe => { %>
        <div>
          <p>Receita: <%= recipe.name %></p>
          <p>Autor: <%= recipe.user %></p>
          <a href="/recipes/<%= recipe.id %>">Ver mais</a>
        </div>
        <%})%>
      </div>
      <% } %>
  </body>
</html>
