<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <!-- include Header -->
    <h1>Cookmaster</h1>
    <h1>Receitas</h1>

    <% console.log('OQUE VEM', token) %>
    <% if (token) {%>
      <a href="#">
        <button type="button">Minhas Receitas</button>
      </a>
      <a href="#">
        <button data-testid="nova-receita" type="button">Nova Receita</button>
      </a>
      <a href="#">
        <button type="button">Minha Conta</button>
      </a>
      <a href="/logout">
        <button data-testid="logout" type="button">Logout</button>
      </a>
    <% } else { %>
      <a href="/login">
        <button data-testid="login" type="button">Login</button>
      </a>
    <% } %>

    <a href="#">
      <button type="button">Buscar Receitas</button>
    </a>

    <% recipes.forEach((recipe) => { %>
      <div>
        <p><%= recipe.name %></p>
        <p><%= recipe.user %></p>
        <a href=<%= `/recipes/${recipe.id}` %>>Ver mais</a>
      </div>
    <% }) %>

  </body>
</html>
