<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cookmaster - Home</title>
</head>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

  body {
    background-color: whitesmoke;
    font-family: 'Roboto Slab', serif;
    margin: 0;
  }

  .main-content {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .recipes-div {
    background-color: rgb(255, 180, 162);
    height: 150px;
    margin: 20px 40px;
    padding: 20px;
    width: 300px;
  }
</style>

<body>
  <%- include('navbar', { user }); %>
  <h1>Receitas</h1>
  <button data-testid='buscar-receita'><a href='/recipes/search'>Buscar Receitas</a></button>
  <% if (user) {%>
  <button data-testid='nova-receita'><a href='/recipes/new'>Nova Receita</a></button>
  <button data-testid='minhas-receitas'><a href='/me/recipes'>Minhas Receitas</a></button>
  <button data-testid='minha-conta'><a href='/me/edit'>Minha Conta</a></button>
  <% } %>
  <div class='main-content'>
    <% if (recipes) {%>
    <% recipes.forEach(recipe => { %>
    <div class='recipes-div'>
      <h3><%= recipe.name %></h3>
      <p><%= recipe.user %></p>
      <a href="/recipes/<%= recipe.id %>">Ver mais</a>
    </div>
    <%})%>
    <% } %>
  </div>
</body>

</html>
