<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <header>
      <h4>Cookmaster</h4>
      <% if (user) { %>
        <button data-testid="logout"><a href="/logout">>Logout</a></button>
        <button><a data-testid="minhas-receitas" href="/me/recipes">Minhas Receitas</a></button>
      <% } else {%>
        <button data-testid="login"><a href="/login">>Login</a></button>
      <% } %>
    </header>
    <h1>Receitas</h1>
    <% if (user) { %>
      <button data-testid="nova-receita"><a href="/recipes/new">Nova Receita</a></button>
    <% } %>
    <button data-testid="buscar-receita"><a href="/recipes/search">Buscar Receita</a></button>
    <section>
      <% if (recipes) { %>
        <% recipes.forEach(recipe => { %>
          <div>
            <h4><%=recipe.name%></h4>
            <span><%=recipe.user%></span>
            <a href="recipes/<%=recipe.id%>">Ver mais</a>
          </div>
        <% }) %>
      <% } %>
    </section>
  </body>
</html>
