<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <span><%= area %> - <%= user? 'Autenticado' : 'Nao autenticado' %></span>
    <nav>
      <span>Cookmaster</span>
      <% if (!user) {%>
      <button data-testid="login" onclick="window.location.pathname='/login'">Login</button>
      <%}%> <% if (user) {%>
      <span><%= user.name %></span>
      <button data-testid="logout" onclick="window.location.pathname='/logout'">Logout</button>
      <%}%>
    </nav>
  </body>
</html>
