<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cookmaster - Nova Receita</title>
</head>
<body>
  <%- include('navbar', {user: user, area: area}); %>
  <div>
    <form action="/recipes" method="POST" name="newRecipeForm">
      <label for="nameInput">Nome da Receita </label>
      <input data-testid="nome-receita" type="text" name="name" id="nameInput" /><br />
      <span>Ingredientes</span>
      <ul id="ingredientList"></ul><br />
      <input data-testid="ingredientes" type="list" name="ingredients" id="ingredientInput">
      <button onclick="addIngredient()" data-testid="adicionar-ingrediente" type="button">Adicionar
        ingrediente</button><br />
      <label for="instructions">Modo de preparo</label><br />
      <textarea data-testid="modo-de-preparo" name="instructions" id="instructions"></textarea><br />
      <button type="button">Voltar</button>
      <button data-testid="postar-receita" type="submit">Salvar Receita</button>
    </form>
  </div>
  <script>
    const ingredientsArr = [];

    const deleteIngredient = (id) => {
      const ingredientInput = document.getElementById('ingredientInput');
      document.getElementById(id).remove();
      // splice + indexOf logic for ingredient removal found at
      // https://stackoverflow.com/questions/5767325/how-can-i-remove-a-specific-item-from-an-array
      ingredientsArr.splice(ingredients.indexOf(id));
      ingredientInput.value = ingredientsArr;
    }

    const addIngredient = () => {
      const li = document.createElement('li');
      const list = document.getElementById('ingredientList');
      const ingredientInput = document.getElementById('ingredientInput');
      const deleteIngredientBtn = document.createElement('button');

      li.id = ingredientInput.value;

      deleteIngredientBtn.innerHTML = 'Excluir Ingrediente'
      deleteIngredientBtn.onclick = `deleteIngredient(${ingredientInput.value})`

      li.innerHTML = ingredientInput.value, deleteIngredientBtn;

      list.appendChild(li);

      ingredientsArr.push(ingredientInput.value);
    };
  </script>
</body>
</html>
