<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Login</title>
  </head>
  <body>
    <header>
      <h3>Nova Receita</h3>
      <% if (user) { %>
        <span><%=user.firstName%></span><span> <%=user.lastName%></span>
        <button data-testid="logout"><a href="/logout">>Logout</a></button>
      <% } else {%>
        <button data-testid="login"><a href="/login">>Login</a></button>
      <% } %>
    </header>
    <form id="newRecipeForm" action="/recipes/new" method="POST">
      <label for="newRecipeName">Nome da Receita</label>
      <input type="text" name="newRecipeName" id="newRecipeName" data-testid="nome-receita"/><br />

      <label for="ingredient">Ingrediente</label>
      <input type="text" name="ingredient" id="ingredient" data-testid="ingredientes"/><br />
      <button id="addIngredient" type="button" data-testid="adicionar-ingrediente">Adicionar Ingrediente</button><br />

      <ul id="ingredientList">

      </ul>

      <label for="howToPrepare">Modo de Preparo</label>
      <input type="textarea" name="howToPrepare" id="howToPrepare" data-testid="modo-de-preparo"/><br />

      <button type="button" data-testid="postar-receita" onclick="submitRecipe()" >Salvar Receita</button>
    </form>
    <% if (message) {%>
      <div class="message">
        <%= message %>
      </div>
    <% } %>
  </body>
  <script>
    const addIngredientButton = document.getElementById('addIngredient');
    const ingredientListUL = document.getElementById('ingredientList');
    const ingredient = document.getElementById('ingredient');

    let ingredArr = [];

    const deleteIngredient = (event) => {
      ingredArr = ingredArr.filter((ingredient) => ingredient !== event.target.parentElement.id);
      ingredientListUL.removeChild(event.target.parentElement);
    }

    const addIngredient = () => {
      const newLi = document.createElement('li');
      ingredientListUL.appendChild(newLi);

      newLi.id = ingredient.value;

      newLi.innerHTML = ingredient.value +
        `<button type="button" onclick="deleteIngredient(event)" data-testid="excluir-ingrediente">Excluir Ingrediente</button>`;

      ingredArr.push(ingredient.value);
    };
    addIngredientButton.addEventListener('click', addIngredient)


    const submitRecipe = () => {
      ingredient.value = ingredArr;
      document.getElementById('newRecipeForm').submit();
    };

  </script>
</html>
