<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Detalhes</title>
  </head>
  <body>
    <div style="background-color: antiquewhite;">
      <h2><%= recipe.name %></h2>
      <a><%= recipe.ingredients %></a>
      <a><%= recipe.instructions %></a>
    </div>
  </body>
</html>
