<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Login</title>
  </head>
  <header>
    <h3>Cadastro</h3>
  </header>
  <body>
    <% if (message) {%>
      <% message.forEach(message => { %>
        <span><%=message%></span><br />
        <% }) %>
      <% } %>
    <form action="/cadastro" method="POST">
      Cookmaster - Cadastro <br />
      <label for="emailInput">Email: </label>
      <input type="text" name="email" id="emailInput" data-testid="email"/><br />
      <label for="passwordInput">Senha: </label>
      <input type="password" name="password" id="passwordInput" data-testid="senha"/><br />
      <label for="confirmPasswordInput">Confirmar Senha: </label>
      <input type="password" name="confirmPassword" id="confirmPasswordInput" data-testid="confirmar-senha"/><br />
      <label for="nameInput">Nome: </label>
      <input type="text" name="name" id="nameInput" data-testid="nome"/><br />
      <label for="lastNameInput">Sobrenome: </label>
      <input type="text" name="lastName" id="lastNameInput" data-testid="sobrenome"/><br />
      <button data-testid="cadastrar" type="submit">Cadastrar</button>
      <a href="/login" data-testid="login">Login</a>
    </form>
  </body>
</html>
