<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro</title>
</head>
<body>
  <form action="" method="POST">
    <label for="emailInput">Email</label>
    <input type="text" id="emailInput" data-testid='email'>
    <label for="passwordInput">Senha</label>
    <input type="text" id="passwordInput" data-testid="senha">
    <label for="confirmPasswordInput">Confirmar Senha</label>
    <input type="text" id="confirmPasswordInput" data-testid="confirmar-senha">
    <label for="name">Nome</label>
    <input type="text" id="name" data-testid="nome">
    <label for="lastName">Sobrenome</label>
    <input type="text" id="lastName" data-testid="sobrenome">
    <button type="submit" data-testid="cadastrar">Cadastrar-se</button>  
  </form>
  <a href="/login" data-testid="login">Login</a>
</body>
</html>