<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form method="POST">
    <label for="email">
      <input id="email" data-testid="email" type="email" name="email">
    </label>
    <label for="password">
      <input id="password" data-testid="senha" type="password" name="password">
    </label>
    <label for="confirm-password">
      <input id="confirm-password" data-testid="confirmar-senha" type="password" name="confirm-password">
    </label>
    <label for="name">
      <input id="name" data-testid="nome" type="text" name="firstName">
    </label>
    <label for="last-name">
      <input id="last-name" data-testid="sobrenome" type="text" name="lastName">
    <button type="submit" data-testid="cadastrar">Cadastrar-se</button>
    <button type="button" data-testid="login">Fazer Login</button>
  </form>
</body>
</html>
