<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - newRecipe</title>
  </head>
  <body>
    <% if (user===undefined) { %>
      <button onclick="window.location.pathname='/login'" data-testid="login">Login</button>
    <% } %>
    <% if (user) { %>
      <h1><%= user.firstName %></h1>
      <button onclick="window.location.pathname='/logout'" data-testid="logout">Logout</button>
    <% } %>
    <h1>Buscar Receitas</h1>
    <form action="/recipes/search" method="GET">
      <input type="text" name="search" value="" id="searchInput" data-testid="receita" /><br />
      <button
        type="submit"
        data-testid="buscar"
      >Buscar</button>
    </form>
    <%if (recipes[0] !== null) { %>
    <% recipes.map(el => {%>
      <h1> <%= el.name %></h1>
      <h3> <%= el.user %></h3>
      <a href="/recipes/<%= el.id %>">Ver mais</a>
    <%})}%>
    </form>
  </body>
</html>
