<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - newRecipe</title>
  </head>
  <body>
    <H1>Procurar</H1>
    </form>
  </body>
</html>
