<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Exclusão da Receita</title>
</head>

<body>
  <div>
    <h1>Excluir Receita</h1>
    <form action=<%= `/recipes/${id}/delete` %> method="POST">
      <label for="password">Digite sua senha para confirmar a exclusão</label>
      <input data-testid="senha" type="password" id="password" name="password">
      <button data-testid="confirmar" type="submit">Excluir</button>
      <button data-testid="cancelar" type="button" onclick="history.go(-1);">Cancelar</button>
    </form>
    <% if(wrongPass) { %>
    <h3>Senha Incorreta.</h3>
    <% } %>
  </div>
</body>
