<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cookmaster - Delete recipe</title>
</head>
<body>
  <h3>Confirme exclusão da receita</h3>
  <form action="/recipes/<%= id %>/delete" method="POST">
    <label for="pswInput">Senha </label>
    <input type="password" name="psw" id="pswInput" data-testid="senha" /><br />
    <% if (message) { %>
     <p>Senha Incorreta.</p>
    <% } %>
    <button type="submit" data-testid="cancelar" >Cancelar</button>
    <button type="submit" data-testid="confirmar" >Confirmar</button>
  </form>
</body>
</html>