<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookmaster - Excluir receita</title>
  </head>

  <body>
    <header>
      <p>Excluir Receita</p>
    </header>
    <% if (message) {%>
    <div class="message">
      <h3><%= message %></h3>
    </div>
    <% } %>
    <form action="/recipes/<%= recipeId %>/delete" method="post">
      <fieldset>
        <legend>Confirme a exclusão da receita</legend>
        <label for="password">Senha</label>
        <input type="password" name="password" id="password" data-testid="senha">
        <button type="button" onclick="window.location.pathname='/recipes/<%= recipeId %>'" data-testid="cancelar">Cancelar</button>
        <button type="submit" data-testid="confirmar">Confirmar</button>
      </fieldset>
    </form>
  </body>

</html>
